* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ecf0f1;
}

.content {
  background-color: #fff;
  border-radius: 15px;
  width: 80%;
  height: 50%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.content::before {
  content: "";
  position: absolute;
  background-color: #c54b92;
  width: 40%;
  height: 100%;
}

.title {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}

.title-primary {
  color: #fff;
}

.description {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  line-height: 30px;
}

.btn {
  border-radius: 15px;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  padding: 10px 50px;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary {
  border: 1px solid #fff;
  background-color: transparent;
}

.btn-primary:hover {
  background-color: #fff;
  color: #c54b92;
}

.first-content {
  display: flex;
}

.first-column {
  text-align: center;
  flex: 1 0 auto;
  z-index: 1;
}

.second-column {
  flex: 2 0 auto;
}

.list-social-media {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
}

.second-content {
  display: none;
  position: absolute;
}
